{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 130,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": false
}
